.navbar{
    width: 100%;
    /* border: solid 2px red; */
    height: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    padding-block: 2px;
    padding-inline: 10px;
    gap: 20px;
}
.navbar-brand{
    height: inherit;
}
.navbar-logo{
    height: inherit;
    max-height: 100%;
    width: auto;
    /* border: solid 2px yellow; */
}
body{
    padding: 0px;
    margin: 0px;
    height: 100vh; 
    background-color: black;
    /* display: flex;
    flex-direction: column; */
}
.hero{
    /* border: solid 2px blue; */
    width: 100%;
    flex-grow: 1;
    display: flex;
    position: relative;;
    /* align-items: center;
    justify-content: center; */
    height: 90vh;
    padding: 0px;
    flex-direction: column;

}
.form-control.searchbar{
    border: none;
    outline: none;
    flex-grow: 1;
    background-color: transparent;
    color: white;
}
.form-control.searchbar:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.form-control.searchbar::placeholder{
    color: white;
    opacity: 0.7;
}
.navbar form{
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 10px;
    width: 35%;
    border-radius: 100px;
    color: white;
    margin-right: auto;
}

.hero-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(60%);

}
.poster-info{
    color: white;
    margin-top: auto;
    margin-bottom: 50px;
    padding-inline: 50px;
    text-align: left;
    max-width: 600px;
}

.scroll-controls{
    position: absolute;
    top: 40%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    width: 95%;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    /* transform: translateY(-50%); */
    /* border: 2px solid red;  */
    pointer-events: none; /* Allow clicks to pass through */
}
.scroll-controls button{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    color: white;
    font-size: 24px;
    height: 70px;
    width: 70px;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    pointer-events: all; /* Enable clicks on buttons */
}
.scroll-controls button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-primary.watch-now-btn, .btn-secondary.more-info-btn{
    background-color: #e50914;
    border: none;
    font-weight: 600;
    font-size: 18px;
    padding-inline: 20px;
    padding-block: 10px;
}

.btn-primary.watch-now-btn:hover{
    background-color: #9d0209;
}

.btn-secondary.more-info-btn{
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
    margin-left: 10px;
}

.login-btn{
    border: none;
    border-radius: 100px;
    font-size: 1.5em;
    color: rgba(233, 223, 223, 0.91);
}
.login-btn:hover{
    color: rgb(255, 255, 255);
}
.search-results-container{
    position: absolute;
    top: 50px;
    left: 0%;
    border-radius: 0px;
    /* transform: translateX(-50%); */
    width: 100%;
    height: inherit;
    /* max-height: 400px; */
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    border-radius: 8px;
    z-index: 1000;
    /* display: flex; */
    flex-direction: column;
    display: none;
    border: none;
}
.search-results{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* display: none; */
}