body{
    background-color: black;
    height: 100vh;
    widht: 100vw;
    display: flex;
    flex-direction: column;
}
.movie-info-container{
    /*border: 2px solid green;*/
    flex-grow: 1;
    height: fit-content;
    /*display: flex; */
    /*position: relative;*/
}
.top-banner-section{

    width: 100%;
    height: 60vh;
    /*border: 2px solid red;*/
    position: relative;
}
.title{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    font-size: 7em;
}
.aside-poster-section{
    height: 800px;
    width: 30%;
    /*border: 2px solid blue;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    gap: 40px;
}
.large-poster-container{
    width: fit-content;
    height: 300px;
    background-color: grey;
    border-radius: 12px;
    /*flex-shrink: 0;*/
    /*z-index:2;*/
    /*flex-grow: 0;*/
    /* border: 2px solid green; */
}
.poster-image{
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    
}
.backdrop-image{
    height: inherit;
    width: 100%;
    object-fit: cover;
}
.bottom-part{
    display: flex;
}
.movie-information-container{
    /*border: 2px solid yellow;*/
    height: 800px;
    width: 70%;
    padding: 50px;
}
.lang-origin{
    widht: inherit;
    /*border: 2px solid red;*/
    height: fit-content;
    padding: 5px;
    padding-inline: 10px;
}
.genre-tags{
    width: inherit;
    /*border: 2px solid yellow;*/
    padding: 5px;
    height: fit-content;
    display: flex;
    gap: 10px;
    
}
.genre-tags .tag{
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    width: fit-content;
    padding-inline: 5px;
    padding-block: 3px;
}
.over-view{
    color: white;
    font-size: 1.2em;
}
.section-title{
    color: white;
    font-size: 1.5em;
    display: flex;
    margin-block: 15px;
    /*align-items: center;*/
    
}
.bar-style{
    height: inherit;
    width: 7px;
    border-radius: 100px;
    background-color: red;
    margin-right: 10px;
}
.Actors{
    /*border: 2px solid cyan;*/
}
.cast-card-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.cast-card{
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    color: white;
    padding: 20px;
    width: fit-content;
    min-width: 40%;
    gap: 20px;
    cursor: pointer;
}
.cast-card img{
    height: 100px;
    border-radius: 10px;
}
.cast-card .names{
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    justify-content: center;
}
.cast-card .cast-name{
    font-size: 1.3em;
    font-weight: 900;
}
.cast-card-container {
    max-height: 400px;          /* choose based on your layout */
    overflow-y: auto;
    overflow-x: hidden;
}